@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes open_top_animation {
  0% {
    transform: translateY(0px) rotate(0deg);
  }
  50% {
    transform: translateY(14px) rotate(0deg);
  }
  100% {
    transform: translateY(14px) rotate(45deg);
  }
}

@keyframes open_middle_animation {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes open_bottom_animation {
  0% {
    transform: translateY(0px) rotate(0deg);
  }
  50% {
    transform: translateY(-14px) rotate(0deg);
  }
  100% {
    transform: translateY(-14px) rotate(-45deg);
  }
}

@keyframes close_top_animation {
  0% {
    transform: translateY(14px) rotate(45deg);
  }
  50% {
    transform: translateY(14px) rotate(0deg);
  }
  100% {
    transform: translateY(0px) rotate(0deg);
  }
}

@keyframes close_middle_animation {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes close_bottom_animation {
  0% {
    transform: translateY(-14px) rotate(-45deg);
  }
  50% {
    transform: translateY(-14px) rotate(0deg);
  }
  100% {
    transform: translateY(0px) rotate(-0deg);
  }
}

.open_bugger_top {
  animation: open_top_animation 0.3s ease forwards;
}
.open_bugger_middle {
  animation: open_middle_animation 0.3s ease forwards;
}
.open_bugger_bottom {
  animation: open_bottom_animation 0.3s ease forwards;
}

.close_bugger_top {
  animation: close_top_animation 0.3s ease forwards;
}
.close_bugger_middle {
  animation: close_middle_animation 0.3s ease forwards;
}
.close_bugger_bottom {
  animation: close_bottom_animation 0.3s ease forwards;
}

.fade_in {
  animation: fadeIn 0.3s ease forwards;
}

#header {
  padding: 20px;
  .header_wrap {
    gap: 1rem;
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;

    .logo_wrap {
      order: 1;
      h1 {
        margin: 0;
        a {
          color: #666;
          transition: all 0.2;
          &:hover {
            color: #111;
          }
        }
      }
    }

    .nav_wrap {
      order: 3;
      width: 100%;
      display: flex;
      align-items: center;

      ul {
        display: flex;
        width: 100%;
        justify-content: space-between;
        li {
          border-bottom: 3px solid transparent;
          transition: all 0.2s;

          a {
            color: #999;
            display: block;
            transition: all 0.2s;
          }
          &:hover,
          &.active {
            a {
              color: #333;
            }
            border-bottom: 3px solid #333;
          }
        }
      }
    }

    .top_menu_wrap {
      flex: 1;
      order: 2;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      .top_menu_action {
        font-size: 16px;
        font-weight: normal;
        display: flex;
        li {
          // margin: 0 10px;

          a {
            display: flex;
            color: #333;
          }
        }
      }
      .top_menu_user_info {
        font-size: 14px;
        display: flex;
        li {
          display: flex;
          align-items: center;
          &:first-child::after {
            content: "";
            display: block;
            width: 2px;
            height: 12px;
            background-color: #999;
            margin: 0 3px;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  #header {
    padding: 20px 0;
    .header_wrap {
      // gap: 0;
      .logo_wrap {
        margin-right: auto;
        h1 {
          a {
            &:hover {
            }
          }
        }
      }

      .nav_wrap {
        width: auto;
        order: 2;
        .bugger_wrap {
          display: flex;
          flex-direction: column;
          gap: 10px;
          .bugger_top {
            width: 40px;
            height: 4px;
            background-color: black;
            transform-origin: 50% 50%;
            border-radius: 20px;
          }
          .bugger_middle {
            width: 40px;
            height: 4px;
            background-color: black;
            border-radius: 20px;
          }
          .bugger_bottom {
            width: 40px;
            height: 4px;
            background-color: black;
            transform-origin: 50% 50%;
            border-radius: 20px;
          }
        }

        ul {
          position: absolute;
          left: 0;
          top: 76px;
          width: 100vw;
          background: white;
          flex-direction: column;
          transition: all 0.2s;
          li {
            a {
              padding: 10px;
              text-align: center;
            }
            &:hover,
            &.active {
              a {
              }
            }
          }
        }
      }

      .top_menu_wrap {
        gap: 10px;
        flex: 0 1 auto;
        order: 3;
        .top_menu_action {
          li {
            .fieldset {
              input[type="submit"] {
              }
            }
            a {
            }
          }
        }
        .top_menu_user_info {
          li {
            &:first-child::after {
            }
          }
        }
      }
    }
  }
}
