#header {
  //   background-color: aquamarine;
  .header_wrap {
    margin: 20px 40px 0 40px;
    display: flex;
    flex-wrap: wrap;

    .logo_wrap {
      order: 1;
      h1 {
        margin: 0;
        a {
          color: #666;
          transition: all 0.2;
          &:hover {
            color: #111;
          }
        }
      }
    }

    .nav_wrap {
      order: 3;
      width: 100%;
      ul {
        display: flex;
        justify-content: center;
        li {
          margin: 0 20px;
          padding: 10px 0;
          border-bottom: 3px solid transparent;
          transition: all 0.2s;

          a {
            color: #999;
            display: block;
            transition: all 0.2s;
          }
          &:hover,
          &.active {
            a {
              color: #333;
            }
            border-bottom: 3px solid #333;
          }
        }
      }
    }

    .top_menu_wrap {
      flex: 1;
      order: 2;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      .top_menu_action {
        font-size: 16px;
        font-weight: normal;
        display: flex;
        li {
          margin: 0 10px;
          .fieldset {
            border: none;
            padding: 0;
            margin: 0;
            input[type="submit"] {
              margin: 0;
              padding: 5px 20px;
              border: none;
              border-radius: 4px;
            }
          }
          a {
            display: block;
            color: #333;
            padding: 4px 19px;
            border: 1px solid #999;
            border-radius: 4px;
          }
        }
      }
      .top_menu_user_info {
        font-size: 14px;
        display: flex;
        li {
          display: flex;
          align-items: center;
          &:first-child::after {
            content: "";
            display: block;
            width: 2px;
            height: 12px;
            background-color: #999;
            margin: 0 3px;
          }
        }
      }
    }
  }
}
