.visual_section {
  height: 400px;
  background-image: url("../../../../public/visual.jpg");
  display: flex;
  justify-content: center;
  align-items: center;
  .visual_wrap {
    color: white;
    width: 50%;
    h2 {
      font-size: 80px;
    }
    p {
      line-height: 2em;
      margin-bottom: 30px;
    }
    #search {
      border: white;
      flex: 1;
      padding: 20px;
      &::placeholder {
        font-size: 16px;
        color: #999;
        font-weight: 600;
      }
    }
    #search_submit {
      background-color: white;
      border: white;
      cursor: pointer;
      padding: 0 20px;
      border-left: 1px solid #999;
    }
    .search_fieldset {
      display: flex;
      border: 0;
      padding: 0;
      background-color: white;
      border-radius: 10px;
      overflow: hidden;
      justify-content: space-between;
    }
  }
}

.images_section {
  .images_wrap {
    .images {
      margin: 30px auto;
      width: 80%;
      ul {
        display: flex;
        flex-wrap: wrap;
        li {
          cursor: pointer;
          position: relative;
          flex-basis: calc(25% - 10px);
          margin: 10px 5px 0 5px;
          aspect-ratio: 1;
        }
      }
    }
    .page_nation {
      display: flex;
      justify-content: center;
      color: #999;
      .prev_buttons {
        margin: 0 10px;
        ul {
          display: flex;
          li {
            margin: 0 5px;
            a {
              display: flex;
              color: #999;
            }
          }
        }
      }
      .page_nation_buttons {
        ul {
          display: flex;
          li {
            margin: 0 5px;
            a {
              display: flex;
              color: #999;
            }
          }
        }
      }
      .next_buttons {
        ul {
          display: flex;
          li {
            margin: 0 5px;
            a {
              display: flex;
              color: #999;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .visual_section {
    .visual_wrap {
      h2 {
      }
      p {
      }
      #search {
        &::placeholder {
        }
      }
      #search_submit {
      }
      .search_fieldset {
      }
    }
  }

  .images_section {
    .images_wrap {
      .images {
        ul {
          li {
            flex-basis: calc(50% - 10px);
          }
        }
      }
      .page_nation {
        .prev_buttons {
          ul {
            li {
              a {
              }
            }
          }
        }
        .page_nation_buttons {
          ul {
            li {
              a {
              }
            }
          }
        }
        .next_buttons {
          ul {
            li {
              a {
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 480px) {
  .visual_section {
    .visual_wrap {
      h2 {
      }
      p {
      }
      #search {
        &::placeholder {
        }
      }
      #search_submit {
      }
      .search_fieldset {
      }
    }
  }

  .images_section {
    .images_wrap {
      .images {
        ul {
          li {
            flex-basis: calc(100% - 10px);
          }
        }
      }
      .page_nation {
        .prev_buttons {
          ul {
            li {
              a {
              }
            }
          }
        }
        .page_nation_buttons {
          ul {
            li {
              a {
              }
            }
          }
        }
        .next_buttons {
          ul {
            li {
              a {
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1280px) {
  .visual_section {
    .visual_wrap {
      width: 80%;
      h2 {
      }
      p {
      }
      #search {
        &::placeholder {
        }
      }
      #search_submit {
      }
      .search_fieldset {
      }
    }
  }

  .images_section {
    .images_wrap {
      .images {
        ul {
          li {
          }
        }
      }
      .page_nation {
        .prev_buttons {
          ul {
            li {
              a {
              }
            }
          }
        }
        .page_nation_buttons {
          ul {
            li {
              a {
              }
            }
          }
        }
        .next_buttons {
          ul {
            li {
              a {
              }
            }
          }
        }
      }
    }
  }
}
