.modal_overay {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: black;
  opacity: 0.5;
}
.modal_wrap {
  background-color: white;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 800px;
  height: 800px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  border-radius: 20px;

  .image_area {
    position: relative;
    width: 100%;
    height: 100%;
    flex: 1;
    .image {
      object-fit: cover;
      display: block;
      border-radius: 20px 20px 0 0;
    }
  }
  .description_area {
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
    ul {
      display: flex;
      flex-direction: column;
      gap: 16px;
      li {
        span {
          font-weight: bold;
          color: #666;
        }
      }
    }
  }
  .btn_area {
    position: absolute;
    right: 10px;
    top: 10px;
    .close_btn {
      cursor: pointer;
      border: none;
      background-color: transparent;
      .close_icon {
        color: white;
        font-size: 20px;
      }
    }
    .like_btn {
      cursor: pointer;
      border: none;
      background-color: transparent;
      #like {
        color: red;
        font-size: 20px;
      }
      #unlike {
        color: white;
        font-size: 20px;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .modal_overay {
  }
  .modal_wrap {
    width: 80%;
    height: 600px;

    .image_area {
      .image {
      }
    }
    .description_area {
      ul {
        li {
        }
      }
    }
    .btn_area {
      .close_btn {
        .close_icon {
        }
      }
      .like_btn {
        #like {
        }
        #unlike {
        }
      }
    }
  }
}
